body {
  background-image: url("../img/eggz.jpg");
  background-position: top;
  background-size: 100%;
  background-repeat:no-repeat repeat;
  background-color: grey;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

ul {
  float:left;
  margin-top:0px;
}
a:link {
  color: black;
  text-decoration:none;
}
a:visited {
  color: blue;
}


h1 {
  text-align:center;
  color:antiquewhite;
}
h3 {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
.header {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  background-color: wheat;
}

.repos {
  width: 200px;
  float: left;
}
.repos ul li{
  list-style-type: none;
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
span.description {
  color: grey; 
}


.about {
  color: white;
  min-width: 200px;
  width:70%;
  float: right;
  margin-right: 50px;
  margin-top: 10px;
  border: 1px solid black;
  background-color: wheat;
  color: black;
  opacity: .91;
}
.about p {
  width: 40%;
  float:left;
  margin: 20px;;
}
.about img{
  float: left;
  border: 1px solid black;
  width: 40%;
  margin: 20px;
  opacity: 1;
}

.about ol {
  position:absolute;
  float:left;
  margin-top: 375px;
  margin-left: 100px;
  padding: 50px;
  background-color: white;
  border: 1px solid red;
}