body {
  background-image: url("../img/eggz.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat:no-repeat;
  background-color: grey;
}

ul {
  float:left;
  margin-top:0px;
}
a:link {
  color: black;
}
a:visited {
  color: blue;
}

ul li{
  list-style-type: none;
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

h1 {
  text-align:center;
  color:antiquewhite;
}
.header {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: wheat;
  margin-left: 50px;
}

.about {
  color: white;
  width: 10%;
  position: relative;
  float: left;
}
.about p {
  float: left;
}